.navbar-brand {
    img {
        width: 40px;
    }
}

a {
    font-weight: 500;
    color: black !important;
}

.active {
    color: rgb(177, 10, 10) !important;
}

.navbar {
    box-shadow: 2px 4px 12px 1px rgba(129, 127, 127, 0.25);

}