
.options {
    font-weight: 500;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    .main_title {
        font-family: 'Roboto Slab', serif;
    }

    .sub_title {
        color: #6b6b6b;
        .fa-home {
            color: #038b8b;
        }
    }

    // background: #DEE1E1;
    background: #ebeeee;
}