
.increase_rate {
    background-color: rgb(248, 233, 233);
    color: rgb(243, 76, 76);
    font-weight: 500;
    display: inline-block;
    min-width: 2.7rem;
    padding: 2px 4px;
    border-radius: 3px;
}

table {
    td, th {
        width: fit-content;
        padding: 4px 0;
    }
}